<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pneumonia Detection Result</title>
</head>

<body style="margin: 0; font-family: 'Arial', sans-serif; overflow-x: hidden; align-text:justify;">

    <!-- Display Pneumonia Detection Result -->
    <div style="padding: 50px;" class="result-section">
        <h4 style="font-size: 20px; color: #37517e;">As per our AI base model  (हमारे AI मॉडल के अनुसार)</h4>
        <h1 style="font-size: 40px; color: #37517e;">Pneumonia Not Detected!</h1>
        <div style="margin-top: 20px;">
            <p style="font-size: 18px; color: #37517e;">Our AI model did not detect signs of pneumonia. However, if you are experiencing any of the following symptoms, it's crucial to consult a healthcare professional for a more accurate assessment:</p>
            <p style="font-size: 18px; color: #37517e;">हमारे AI मॉडल ने प्न्यूमोनिया के संकेत नहीं पहचाने हैं। हालांकि, यदि आप निम्नलिखित लक्षणों का सामना कर रहे हैं, तो एक स्वास्थ्य विशेषज्ञ से अधिक सटीक मूल्यांकन के लिए संपर्क करना महत्वपूर्ण है:</p>
        </div>
        <div style="margin-top: 30px;">
                <li style="font-size: 18px; color: #37517e;">Shortness of breath (सांस की तकलीफ)</li>

                <li style="font-size: 18px; color: #37517e;">Persistent cough (स्थायी खांसी)</li>
                <li style="font-size: 18px; color: #37517e;">Chest pain (सीने में दर्द)</li>
                <li style="font-size: 18px; color: #37517e;">Fatigue (थकान)</li>
                <li style="font-size: 18px; color: #37517e;">Fever (बुखार)</li>
                <li style="font-size: 18px; color: #37517e;">Sweating (पसीना)</li>
                <li style="font-size: 18px; color: #37517e;">Chills (शीतलता)</li>
                <li style="font-size: 18px; color: #37517e;">Loss of appetite (भूख की कमी)</li>
                <li style="font-size: 18px; color: #37517e;">Bluish discoloration of the lips or nails (होंठ या नाखूनों का नीलापन)</li>
        </div>
        <div style="margin-top: 30px;">
            <p style="font-size: 24px; color: #37517e;">These symptoms may indicate various health conditions, and it's essential to get a proper diagnosis from a medical expert. Don't hesitate to schedule an appointment with your doctor for a thorough examination and personalized advice based on your specific situation. Your health is our priority, and early detection can lead to effective intervention and a faster recovery. Take care."</p>
            <p style="font-size: 24px; color: #37517e;">ये लक्षण विभिन्न स्वास्थ्य स्थितियों का संकेत हो सकते हैं, और एक चिकित्सा विशेषज्ञ से सही निदान प्राप्त करना अत्यंत महत्वपूर्ण है। अपनी विशिष्ट स्थिति के आधार पर व्यक्तिगत सलाह के लिए अपने डॉक्टर से एक समग्र जाँच के लिए तत्पर रहें। आपकी स्वास्थ्य को हमारी प्राथमिकता है, और समय पर पहचान प्रभावी हस्तक्षेप और शीघ्र स्वस्थ होने की ओर अग्रसर कर सकती है। ध्यान रखें।</p>
        </div>
    </div>

</body>

</html>
